/** Add any CSS you need to this file. */
.contact {
  background-color: #cff1ef;
  margin: 0;
  padding: 50px 0 300px 0;
  border: 0;
  width: 100%;
  min-height: 1000px;
  color: black;
  text-align: center;
}

.container {
  background-color: #cff1ef;
  margin: 0;
  padding: 50px 0 300px 0;
  border: 0;
  width: 100%;
  min-height: 1000px;
  color: black;
}

.container ul {
  margin: 0 0 0 5%;
  padding: 0;
  border: 0;
}

.continer ul ul li {
  margin: 0 0 5% 0;
  padding: 0 0 50% 0;
  border: 0;
}

.container li {
  margin: 1% 0;
}

.top {
  text-align: center;
  margin: 0;
  padding: 0 0 0 0;
  border: 0;
  bottom: 0;
  color: white;
}

.background {
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 800px;
  min-width: 100%;
  width: 100%;
  background-image: url('images/background6.jpeg');
  background-position: center;
  background-size: cover;
}
.products {
  top: 0;
  background-color: #cff1ef;
  margin: 0;
  padding: 50px 0 300px 0;
  border: 0;
  width: 100%;
  background-repeat: round;
  background-position: center;
  color: black;
  height: auto;
}

.title {
  color: white;
  margin: 0;
  border: 0;
  padding: 1% 0 0 0;
}

aside {
  margin: 3% auto 0 auto;
  width: 200px;
  height: 100%;
  float: left;
  color: black;
}

aside h3 {
  margin: 0;
  padding: 0;
  border: 0;
}

aside ul {
  position: relative;
  float: center;
}

aside ul li {
  padding: 0;
  border: 0;
  font-family: 'Nanum Pen Script', cursive;
  cursor: pointer;
}

aside ul li a {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 300%;
}

.productsContent {
  margin: 0 0 0 10%;
  border: 0;
  padding: 0px;

  background-color: #cff1ef;
}
body {
  margin: 0 0;
  font-size: 28px;
  color: white;
}

.companyName {
  margin: 0 0 0 0;
  border: 0 0 0 0;
  padding: 0 0 0 0%;
  min-width: 10%;
  max-height: 50px;
  float: left;
  display: block;
  text-align: center;
}

.companyName h3 {
  margin: 10% 0 0 0;
  border: 0;
  padding: 0;
  font-family: 'Righteous', cursive;
}

.companyName2 h3 {
  margin: 0 0 0 0;
  border: 0;
  padding: 0;
  scale: 150%;
  font-family: 'Righteous', cursive;
}

.logo {
  margin: 0;
  border: 0;
  padding: 0;
  max-width: 5%;
  height: auto;
}

.logo img {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: auto;
  float: left;
}

.header {
  margin: 0;
  padding: 0;
  border: 0;
  top: 0;
  bottom: 0;
  min-width: 90%;
  max-width: 100%;
  background-color: rgb(51, 51, 51);
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  text-align: center;
  z-index: 999;
}

ul {
  list-style-type: none;
  margin: 0 0 0 36%;
  padding: 0;
  border: 0;
  top: 0;
  max-height: 100%;
}

.header ul li {
  float: left;
  padding: 0;
  margin: 0.8% 3% 0 0;
  border: 0;
  font-family: 'Nanum Pen Script', cursive;
}

.header ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  font-size: 150%;
}

/* li a:hover {
  /* background-color: #111; 
/* }

.active { */
/*background-color: #4caf50;
} */

p {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}

h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Kaushan Script', cursive;
}

.cardBox {
  padding: 0;
  border: 0;
  margin: 0 75px;
  display: inline-flex;
  overflow: hidden;
  min-height: 750px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  padding: 0;
  border: 0;
  text-align: center;
  font-family: arial;
  background-color: white;
  scale: 80%;
  position: relative;
}

.card h2 {
  font-family: 'Abril Fatface', cursive;
}
.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.card button:hover {
  opacity: 0.7;
}

.links {
  margin: 0;
  padding: 0;
  border: 0;
}

.links img {
  margin: 0;
  padding: 0;
  border: 0;
  scale: 50%;
}

footer {
  text-align: center;
  padding: 5% 0 10% 0;
  background-color: #ffebd9;
  color: black;
}

footer h3 {
  margin: 0 0 2% 0;
  padding: 0;
  border: 0;
}
form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* To see the outline of the form */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text field */
  width: 300px;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For all Gecko based browsers */
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
  background-color: #ffebd9;
}

input:focus,
textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

input:focus,
textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;

  /* To allow users to resize any textarea vertically
     It does not work on every browsers */
  resize: vertical;
  background-color: #ffebd9;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px; /* same size as the label elements */
}
.button button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
}
